BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 4
UseTab: Never
PointerAlignment: Left
ReferenceAlignment: Left
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: CurrentLine
InsertBraces: true
InsertTrailingCommas: Wrapped
QualifierAlignment: Left
AlignAfterOpenBracket: AlwaysBreak
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
IndentAccessModifiers: false
AccessModifierOffset: -4
ColumnLimit: 120